{% extends "dashboard/layout.html" %}

{% block title %}
Clean Stations
{% endblock %}

{% block main %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="row pt-2 px-2">
        {% if status == 'clean' %} <h2>측정소 리스트 : 좋음 </h2>
        {% elif status == 'polluted' %} <h2>측정소 리스트 : 나쁨 또는 매우 나쁨 </h2>
        {% elif status == 'failure' %} <h2>측정소 리스트 : 데이터 미수신 </h2>
        {% else %} <h2>측정소 리스트 : 전체 </h2> {% endif %}
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Station Name</th>
                  <th>Address</th>
                  <th>Category</th>
                  <th>통합대기환경지수</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody>
              {% for data in Stations %}
                <tr>
                  <td>{{data.stationname}}</td>
                  <td>{{data.addr}}</td>
                  <td>{{data.mangname}}</td>
                  <td>{% with d=data.airkoreadata_set.last %} {{ d.khaivalue }} {% endwith %}</td>
                  <td><a href="{% url 'detail' data.stationname%}">데이터 보기</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
</main>

{% endblock %}